langchain
langchain-community
langchain-core
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
langdetect
unstructured
unstructured[pdf]
openpyxl
msoffcrypto-tool
pandas
numpy
requests
tiktoken
faiss-cpu
arabic-reshaper
python-bidi
camel-tools
werkzeug
flask
flask-cors
sqlalchemy
faster-whisper
psycopg2-binary
PyJWT
docx2txt
apscheduler
waitress
redis
fakeredis